<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xhzz.videoaudio">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/logo1"
        android:label="线上评估"
        android:networkSecurityConfig="@xml/network"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,label,theme,name,allowBackup">
        <!-- Android 7.0 文件共享配置，必须配置 -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />


        <provider
            android:authorities="com.xhzz.videoaudio.fileprovider"
            android:name=".utils.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"

            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_file_path"/>
        </provider>


<!--        &lt;!&ndash;发送崩溃日志界面&ndash;&gt;-->
<!--        <activity-->
<!--            android:name="org.acra.CrashReportDialog"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:finishOnTaskLaunch="true" />-->

<!--        <activity-->
<!--            android:name=".wxapi.WXEntryActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
<!--        <activity-->
<!--            android:name=".wxapi.WXPayEntryActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

<!--        <activity-->
<!--            android:name="com.tencent.tauth.AuthActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:noHistory="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="tencent101830139" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="com.tencent.connect.common.AssistActivity"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            tools:replace="android:configChanges" />-->
<!--        &lt;!&ndash; 声明高德地图定位service &ndash;&gt;-->
<!--        <service android:name="com.amap.api.location.APSService" />-->
    </application>

</manifest>